Package: platform-modules-e582-48x2q4z
Source: sonic-centec-platform-modules
Version: 1.1
Architecture: amd64
Maintainer: yangbs <yangbs@centecnetworks.com>
Installed-Size: 847
Depends: linux-image-3.16.0-5-amd64
Section: main
Priority: extra
Description: kernel modules for platform devices such as fan, led, sfp
